<div class="container text-center my-3">
    <h3>buscar Producto</h3>
    <div class="mb-3 caja">
        <div class="d-flex">            
            <label for="nombreProducto" class="form-label mx-2">Producto</label>
            <input type="text" [(ngModel)]="nombreProducto" class="form-control mx-2" name="nombreProducto" placeholder="Buscar por productos...">
        </div>      
   
<table class="table table-striped table-hover my-3">
    <thead>
        <tr class="table-dark">
            <th>Codigo</th>
            <th>Producto</th>            
            <th>ValorUnitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Carro</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produ of productos | filter:page: nombreProducto: pageSize; index as i">
            <th>{{produ.id}}</th>
            <th>{{produ.nombre}}</th>            
            <th>{{produ.valorUnitario}}</th>
            <th><input type="number" [(ngModel)]="cantidad" class="form-control"></th>
            <th>{{cantidad * produ.valorUnitario}}</th>
            <th><button (click)="agregar(produ.id)" class="btn btn-info text-white">Agregar</button></th>
        </tr>
    </tbody>
</table>
<mat-paginator [length]="productos.length"
              [pageSize]="pageSize"
              (page)="cambiarPagina($event)"
              aria-label="Select page">
</mat-paginator>
</div>
    <h3>Datos del cliente</h3>
    <div class="mb-3 d-flex caja">
        <label for="docuUsuario" class="form-label mx-2">Documento</label>
        <input type="text" [(ngModel)]="docuUsuario" class="form-control mx-2" id="docuUsuario">
        <label for="nombreUsuario" class="form-label mx-2">Nombre</label>
        <input type="text" [(ngModel)]="nombreUsuario" class="form-control mx-2" id="nombreUsuario">
        <label for="celUsuario" class="form-label mx-2">Telefono</label>
        <input type="text" [(ngModel)]="celUsuario" class="form-control mx-2" id="celUsuario">
    </div>
    <h3>Carrito</h3>
<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th>Codigo</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>ValorUnitario</th>
            <th>Subtotal</th>
            <th>Descartar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of carro; index as i">
            <th>{{item.codigo}}</th>
            <th>{{item.nombreProducto}}</th>
            <th>{{item.cantidad}}</th>
            <th>{{item.precio}}</th>
            <th>{{item.vaTotal}}</th>
            <th><button (click)="descartar(i)" class="btn btn-danger">Descartar</button></th>
        </tr>
    </tbody>
</table>
<div align="right" class="my-3">
   <h4>Total General <span class="text-success my-3">{{totalGeneral}}</span></h4> 
   <button (click)="vendido()"  class="btn btn-success my-3">Vendido</button>
</div>

</div>








