<div class="container text-center my-3">
    <h3>Datos del cliente</h3>
    <div class="mb-3 d-flex caja">
        <label for="docuUsuario" class="form-label mx-2">Documento</label>
        <input type="text" formControlName="docuUsuario" class="form-control mx-2" id="docuUsuario">
        <label for="nombreUsuario" class="form-label mx-2">Nombre</label>
        <input type="text" formControlName="nombreUsuario" class="form-control mx-2" id="nombreUsuario">
        <label for="celUsuario" class="form-label mx-2">Telefono</label>
        <input type="text" formControlName="celUsuario" class="form-control mx-2" id="celUsuario">
    </div>
    <h3>Producto</h3>
    <div class="mb-3 caja">
        <div class="d-flex">
            <label for="codigo" class="form-label mx-2">Codigo</label>
            <input type="text" formControlName="codigo" class="form-control mx-2" id="codigo">
            <label for="nombreProducto" class="form-label mx-2">Nombre</label>
            <input type="text" formControlName="nombreProducto" class="form-control mx-2" id="nombreProducto">
            <button class="btn btn-secondary">Agregar</button>
        </div>
        <div class="d-flex my-3">
            <label for="cantidad" class="form-label mx-2">Cantidad</label>
            <input type="number" formControlName="cantidad" class="form-control mx-2" id="cantidad">
            <label for="precio" class="form-label mx-2">PrecioUnitario</label>
            <input type="number" formControlName="precio" class="form-control mx-2" id="precio">
            <label for="vaTotal"class="form-label mx-2">subTotal</label>
            <input type="number" formControlName="vaTotal" class="form-control mx-2" id="vaTotal">           
        </div>        
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th>Codigo</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>ValorUnitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>gorra</th>
            <th>2</th>
            <th>10000</th>
            <th>20000</th>
        </tr>
    </tbody>
</table>
<h4 align="right">Total General <span class="text-success">20000</span></h4>

